.header {
    height: 100vh;
    background-image: url("img/main 960x540.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-attachment: fixed;

        .header__content{
            height: 100px;
            width: 100%;
            background-color: rgba(21,21,21,0.8);


            .header__content__inner__wrapper {
                max-width: 1200px;
                height: 100%;
                margin: 0 auto;
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                align-content: center;

                    .header__content__tel {
                        text-decoration: none;
                        color: white;
                        font-size: 2em;
                        transition: color 0.5s;
                    }

                    .header__content__tel:hover {
                        color:#ccc;
                    }

                .header__content__link {
                    text-decoration: none;
                    color: #ccc;

                    .header__content__heading {
                        font-weight: 450;

                    }
                }

                    @media screen and (max-width: 550px) {
                        .header__content__heading {
                            margin: 0 auto;
                            text-align: center;

                        }
                        .header__content__tel {
                            margin: 0 auto;
                        }
                    }


            }
            @media screen and (max-width: 650px) {
                .header__content__inner__wrapper {
                    max-width: 650px;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    align-content: center;
                    padding: 10px 0;
                }

            }
        }

    .header__info {
        height: 100%;
        background-color: rgba(21,21,21,0.4);

            .header__info__inner__wrapper {
                max-width: 1200px;
                height: 100%;
                overflow: hidden;
                margin: 0 auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                .header__info__heading {
                    color: white;
                    font-size:calc(1em + 2vw);
                    font-weight: 500;
                    margin-bottom: 60px;

                }
                .header__info__text {
                    color: white;
                    font-size:calc(0.5em + 1vw);
                    text-align: center;
                    margin-bottom: 60px;
                }

                .header__info__tel__button {
                    text-decoration: none;
                    color: white;
                    padding: 10px 40px;
                    font-size:calc(1em + 1vw);
                    border-radius: 10px;
                    background-color: transparent;
                    border: 3px solid yellow;
                    transition: background-color, border 0.4s;
                        &:hover {
                            background-color: #F0C700 ;
                            border: 3px solid white;
                        }

                }
                @media screen and (max-width: 950px) {
                    .header__info__heading {
                        text-align: center;
                    }
                }
                @media screen and (min-width: 2520px) {
                    .header__info__heading {
                        text-align: center;
                    }
                    .header__info__text {
                        font-size: 32px !important;
                    }
                }

            }
    }
}




