.main__description {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
     h3 {
       font-size:calc(1em + 2vw);
       font-weight: 500;
       margin-top: 50px;
       margin-bottom:50px;
       text-transform: uppercase;
     }
    p {
      font-size:calc(0.5em + 1vw);
      padding-bottom: 50px;
    }
  @media screen and (min-width: 2200px) {
    p {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 500px) {
    p {
      font-size: 10px;
    }
  }
    @media screen and (max-width: 400px) {
      p {
        font-size: 8px;
      }
  }
}
