.main__contacts {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background: yellow;
    h3 {
      font-size:calc(0.5em + 1.5vw);
      font-weight: 400;
      margin: 20px 0;
    }
    ul {
      padding-bottom: 20px;
    }
    ul li {
      list-style-type: none;
      font-size:calc(0.5em + 0.5vw);
      margin-bottom: 10px;
    }
    ul li:first-child {
      margin: 0 auto 15px auto;
    }
    ul li a {
      text-decoration: none;
      color: black;
      transition: opacity 0.4s;
          &:hover {
            opacity: 40%;
          }
    }
    ul li span {
      font-weight: bold;
    }

}
